

#container {
	width: 1140px;
}

#blog-post-container {
	width: 75%;
	float: left;
}

#other-posts {
	width: 25%;
	float: left;

}

#author-box {

}

.tags {
	margin: 0px;
	padding: 0px;
}

.tags li{
	list-style: none;
	display: inline;
}

.tags li a {
	text-decoration: none;
}