/*Element */



/*Class*/






/*id*/



/*star*/

*
{
    border: 1px solid #eee;
}

/*Descendant*/

h3 a
{
    color: red;
}
ul li
{
    color:yellow;
}

/*Atribute*/

a[href="http://www.asp.net"]
{
    color: red;
}

a[href="http://www.edurive.com"]
{
    color : yellow;
}

input
{
    
}
input[type="text"]
{
    background: blue;
}

input[type="checkbox"]
{
   width: 50px;
   height: 50px; 
}
    

/*nth*/

ol li:nth-child(even)
{
    background: yellow;
}

ol li:nth-child(odd)
{
    background: red;
}